---
import Layout from "../layouts/Layout.astro";
import "../styles/index.scss";
---

<Layout title="Ahmad Albakri">
	<main role="main">
		<h1><a href="/">ahmad.build</a></h1>
		<article>
			<h2>Hi, I'm Ahmad.</h2>
			I'm an independent web developer based in Malaysia. I use these tools :
			<a href="" class="tsc" title="Content management system">WordPress</a>,
			<a href="" class="aa" title="frontend library">ReactJS</a>,
			<a href="" class="tsc" title="backend language">PHP</a>,
			<a href="" class="aa" title="progressive web app">PWA</a>,
			<a href="" class="aa tsc" title="markup languag">HTML5</a>,
			<a href="" class="aa" title="client-side storage">IndexedDB</a>,
			<a href="" class="aa tsc" title="to speak with other application">API</a>,
			<a href="" class="aa tsc" title="streamline the development workflow"
				>Docker</a
			>, to create works like
			<a
				class="aaContainer"
				href="https://adhan.app"
				title="PWA Prayer time application for Malaysia">AdhanApp</a
			>
			and
			<a
				class="tscContainer"
				href="https://thesabun.co"
				title="The Sabun Company - 100% Handcrafted Natural Soap">Thesabun.co</a
			>. <br />I can be found at
			<a href="https://www.linkedin.com/in/ahmadalbakri/">LinkedIn</a>
			and
			<a href="https://github.com/ahmadalbakri">GitHub</a>.
		</article>
	</main>
</Layout>
